@charset "utf-8";
@import "normalize";
@import 'bootstrap';
@import "font-awesome-compass";
@import "font-awesome";

body {
  background: #ECC561;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}
